<h2 class="tituloDashboard">
    Dashboard
</h2>

<h3 class="tituloSeccion">
    📦 Inventario
</h3>

<div class="dashboardGrid">

    <div class="cardDashboard azul">
        <p>Productos</p>
        <h2 id="totalProductos">0</h2>
    </div>

    <div class="cardDashboard azul">
        <p>Unidades</p>
        <h2 id="totalUnidades">0</h2>
    </div>

    <div class="cardDashboard verde">
        <p>Valor Inventario</p>
        <h2 id="valorInventario">$0</h2>
    </div>

</div>

<h3 class="tituloSeccion">
    💵 Movimiento del Día
</h3>

<div class="dashboardGrid">

    <div class="cardDashboard naranja">
        <p>Compras</p>
        <h2 id="comprasHoy">$0</h2>
    </div>

    <div class="cardDashboard morado">
        <p>Ventas</p>
        <h2 id="ventasHoy">$0</h2>
    </div>

    <div class="cardDashboard verdeOscuro">
        <p>Ganancia</p>
        <h2 id="gananciaHoy">$0</h2>
    </div>

</div>

<h3 class="tituloSeccion">
    ⚠ Alertas
</h3>

<div class="dashboardGridAlerta">

    <div class="cardDashboard amarillo">
        <p>Stock Bajo</p>
        <h2 id="stockBajo">0</h2>
    </div>

    <div class="cardDashboard rojo">
        <p>Sin Stock</p>
        <h2 id="sinStock">0</h2>
    </div>

</div>