<h1>Movimientos</h1>

<!-- ===================== -->
<!-- FECHA -->
<!-- ===================== -->
<div class="seccion">

    <h2>📅 Fecha del movimiento</h2>

    <input
        type="date"
        id="fechaMovimiento">

</div>

<!-- ===================== -->
<!-- ENTRADA -->
<!-- ===================== -->

<div class="seccion">

    <h2>📥 Entrada de Inventario</h2>

    <select id="productoEntrada"></select>

    <input
        id="cantidadEntrada"
        type="number"
        placeholder="Cantidad">

    <input
        id="precioEntrada"
        type="number"
        placeholder="Precio de compra">

    <button id="btnEntrada">

        Registrar Entrada

    </button>

</div>

<!-- ===================== -->
<!-- VENTA -->
<!-- ===================== -->

<div class="seccion">

    <h2>🛒 Registrar Venta</h2>

    <select id="productoVenta"></select>

    <input
        id="cantidadVenta"
        type="number"
        placeholder="Cantidad">

    <input
        id="precioVenta"
        type="number"
        placeholder="Precio de venta">

    <button id="btnVenta">

        Registrar Venta

    </button>

</div>