<h1>Productos</h1>

<div class="seccion">

    <h2>Crear / Editar Producto</h2>

    <input id="codigo" placeholder="Código">

    <input id="nombre" placeholder="Nombre">

    <input
        id="precioCompra"
        type="number"
        placeholder="Precio Compra">

    <input
        id="stockMinimo"
        type="number"
        placeholder="Stock mínimo"
        value="5">

    <button id="btnCrearProducto">
        Crear Producto
    </button>

</div>


<div class="seccion">

    <h2>Buscar Producto</h2>

    <input
        id="buscar"
        placeholder="Buscar por código o nombre">

</div>


<div class="seccion">

    <h2>Productos</h2>

    <table>

        <thead>

            <tr>

                <th>Código</th>

                <th>Nombre</th>

                <th>Stock</th>

                <th>Precio Compra</th>

                <th>Acciones</th>

            </tr>

        </thead>

        <tbody id="tablaProductos">

        </tbody>

    </table>

</div>